.DS_Store
!.gitkeep
.idea
.vsls.json
.vscode

.pnpm-store
.tanstack
bin/*
!bin/.gitkeep
build/*
dist/
dist-ssr/
node_modules/
pnpm/
yarn/
tsconfig.tsbuildinfo
/*.env*

# next.js
/.next/
/out/
next-env.d.ts
